.container {
  height: 100%;
  overflow-y: auto;
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.subtitle {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}

.divider {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f0f0fa;
}

.image-input {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 30px;
  background-color: #f0f0fa;
}
.download-btn {
  background-color: #55B464;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
  align-self: center;
}

.download-btn:hover {
  background-color: darkgreen;
}